<h1>Rhymes with "paddle"</h1>
<p>
  My name is Adel. I'm a young dude with a lot of 'tude. I live downtown with my wife, Louisa, and we enjoy visiting coffee shops around the city, among other things.
  I went to the University of Waterloo for physics and graduated in 2017. I'd say most of my waking hours were spent doing assignments at a coffee shop called <a href="http://dvlb.ca/" target="_blank">DVLB</a>. 
  This was roughly when I realized that coffee can taste good and is more than a sugar sludge brewed in the stinky machines of Tim Hortons. 
</p>

