@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
    background-color: #E9B44C;
}

body {
    font-family: 'RobotoMono', monospace;
    font-size: 18px;
    color: rgb(77, 77, 77);
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: rgb(214, 213, 213);
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

.simpleDiv {
    background-color: #E4D6A7;
    border-radius: 3px;
    padding: 2%;
}

.simpleHeader {
    margin: 0;
}