<h1>Welcome to my simple hobby</h1>
<p>
  During my undergrad I spent a ton of my time hanging out and working in coffee shops. After moving to a big ol' city like Toronto, 
  I figured exploring more of them would be a nice way to get to know the area. And it worked! I am now well versed in very small pockets of the downtown core and nowhere else. 
  But it's been fun. I'm hoping that I can give others something to do or somewhere to go if they find themselves twiddling their thumbs some weekend.
</p>
<p>
  I'm not some connoisseur of coffee by any means. Hardly a critic either. I like pretty much everything I've tried. So don't use this as a guide. It's at most a reference.
  Most posts are going to be some iteration of "awe yay this place was so cute and they had nice things". Hope you're cool with that.
</p>
